<form *ngIf="course.id > 0" (ngSubmit)="createCourse()" #unitsForm="ngForm">
  <h4>Edit course</h4>
  <label for="editCourseNameId">Name</label>
  <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-1" id="editCourseNameId" placeholder="Course name"
         [(ngModel)]="course.name" name="editCourseName" required>
  <label for="description">Course description</label>
  <textarea class="form-control mb-2 mr-sm-2 mb-sm-1" id="description" rows="3"
            [(ngModel)]="course.description" name="editCourseDescription"></textarea>
  <div class="form-check">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input" name="editCoursePublic" [(ngModel)]="course.open">
      Public course
    </label>
  </div>
  <label>Units</label>
  <div class="card mb-2 mr-sm-2 mb-sm-1" *ngFor="let unit of units | orderBy: 'serial'">
    <div class="card-header">
      <button type="button" class="close" aria-label="Close" (click)="deleteUnit(unit)">
        <span aria-hidden="true">&times;</span>
      </button>
      <h5 class="card-title">{{unit.serial}} {{unit.name}}</h5>
    </div>
    <div class="card-block" *ngIf="unit.id">
      <a class="btn btn-primary" [href]="'#/edit-unit/' + unit.id" target="_blank" role="button">Edit</a>
    </div>
  </div>
  <div class="form-group form-inline">
    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-1" placeholder="New unit name"
           [(ngModel)]="newUnitName" name="newUnitName">
    <button type="button" class="btn btn-primary mb-2 mr-sm-2 mb-sm-1" [disabled]="!newUnitName"
            (click)="addUnit(newUnitName);newUnitName=''">Add unit
    </button>
    <button type="submit" class="btn btn-primary mb-2 mr-sm-2 mb-sm-1"
            [disabled]="!units.length > 0 || !unitsForm.form.valid">Save
    </button>
  </div>
</form>
