<div class="row" *ngIf="day">
  <div class="col-sm-12">
    <div class="list-group mb-2 mr-sm-2 mb-sm-1">
      <a *ngFor="let l of day | orderBy: 'date'" class="list-group-item list-group-item-action">
        <h5 class="list-group-item-heading"> {{l.date | date: 'HH:mm'}},
          <a [href]="'#/course-info/' + l.course.id" target="_blank">{{l.course.name}}</a>, {{l.info}}</h5>
        <p class="list-group-item-text">{{l.task}}</p>
        <p *ngIf="auth.isAdmin() || auth.isModer()" class="list-group-item-text">
          {{l.user.lastName + ' ' + l.user.firstName}}
        </p>
      </a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6" *ngFor="let d of days">
    <div class="card mb-2 mr-sm-2 mb-sm-1" *ngIf="d[0]?.date > 0; else noLessons">
      <div class="card-header" (click)="selectDay(d)">
        {{d[0]?.date | date: 'EEE, dd.MM' }}
      </div>
      <div class="card-block">
        <blockquote class="card-blockquote" *ngFor="let lesson of d | orderBy: 'date'">
          <p>{{lesson.date | date: 'HH:mm'}}, {{lesson.course.name}}</p>
        </blockquote>
      </div>
    </div>
    <ng-template #noLessons>
      <div class="card mb-2 mr-sm-2 mb-sm-1">
        <div class="card-header">
          Day off
        </div>
        <div class="card-block">
          <blockquote class="card-blockquote">
            <p>No lessons</p>
          </blockquote>
        </div>
      </div>
    </ng-template>
  </div>
</div>

