<form *ngIf="paragraph.id > 0" (ngSubmit)="saveParagraph()" #stepsForm="ngForm" class="col-sm-12">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a target="_blank" [href]="'#/edit-course/' + paragraph.unit.course.id">
      {{paragraph.unit.course.name}}</a></li>
    <li class="breadcrumb-item"><a target="_blank" [href]="'#/edit-unit/' + paragraph.unit.id">
      {{paragraph.unit.serial}} {{paragraph.unit.name}}</a></li>
    <li class="breadcrumb-item active">{{paragraph.serial}} {{paragraph.name}}</li>
  </ol>
  <h4>Edit paragraph</h4>
  <label for="editParagraphNameId">Name</label>
  <div class="input-group">
    <span class="input-group-addon" id="btnGroupAddon">{{paragraph.unit.serial}}.{{paragraph.serial}}</span>
    <input type="text" class="form-control" id="editParagraphNameId" placeholder="Paragraph name"
           [(ngModel)]="paragraph.name" name="editParagraphName" required>
  </div>
  <label>Steps</label>
  <div>
    <span *ngFor="let step of steps | orderBy: 'serial'">
        <button type="button" class="btn mb-2 mr-sm-2 mb-sm-1" (click)="editStep = step"
                [class.btn-primary]="editStep.serial == step.serial"
                [class.btn-secondary]="editStep.serial != step.serial">{{step.serial}}</button>
    </span>
    <button type="button" class="btn btn-info mb-2 mr-sm-2 mb-sm-1" (click)="addStep()">
      <i class="fa fa-plus" aria-hidden="true"></i></button>
  </div>
  <div *ngIf="editStep.serial > 0" [froalaEditor] [(froalaModel)]="editStep.description"
       class="mb-2 mr-sm-2 mb-sm-1"></div>
  <div class="form-group form-inline">
    <button type="button" class="btn btn-danger mb-2 mr-sm-2 mb-sm-1"
            [disabled]="!editStep.serial > 0" (click)="deleteStep(editStep)">
      Delete step
    </button>
    <button type="submit" class="btn btn-primary mb-2 mr-sm-2 mb-sm-1"
            [disabled]="!steps.length > 0 || !stepsForm.form.valid">Save
    </button>
  </div>
</form>
