<form *ngIf="unit.id > 0" (ngSubmit)="saveUnit()" #paragraphsForm="ngForm">
  <div class="mb-2 mr-sm-2 mb-sm-1">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a target="_blank" [href]="'#/edit-course/' + unit.course.id">
        {{unit.course.name}}</a>
      </li>
      <li class="breadcrumb-item active">{{unit.serial}} {{unit.name}}</li>
    </ol>
    <h4>Edit unit</h4>
    <label for="editUnitNameId">Name</label>
    <div class="input-group">
      <span class="input-group-addon" id="btnGroupAddon">{{unit.serial}}</span>
      <input type="text" class="form-control" id="editUnitNameId" placeholder="Unit name"
             [(ngModel)]="unit.name" name="editUnitName" required>
    </div>
  </div>
  <label>Paragraphs</label>
  <div class="card mb-2 mr-sm-2 mb-sm-1" *ngFor="let p of paragraphs | orderBy: 'serial'">
    <div class="card-header">
      <button type="button" class="close" aria-label="Close" (click)="deleteParagraph(p)">
        <span aria-hidden="true">&times;</span>
      </button>
      <h5 class="card-title">{{unit.serial}}.{{p.serial}} {{p.name}}</h5>
    </div>
    <div class="card-block" *ngIf="p.id">
      <paragraph-details [paragraph]="p"></paragraph-details>
      <a class="btn btn-primary" [href]="'#/edit-paragraph/' + p.id" target="_blank" role="button">Edit</a>
    </div>
  </div>
  <div class="form-group form-inline">
    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-1" placeholder="New paragraph name"
           [(ngModel)]="newParagraphName" name="newUnitName">
    <button type="button" class="btn btn-primary mb-2 mr-sm-2 mb-sm-1" [disabled]="!newParagraphName"
            (click)="addParagraph(newParagraphName);newParagraphName=''">Add paragraph
    </button>
    <button type="submit" class="btn btn-primary mb-2 mr-sm-2 mb-sm-1"
            [disabled]="!paragraphs.length > 0 || !paragraphsForm.form.valid">Save
    </button>
  </div>
</form>
