<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" [routerLink]="['/']">Дневник</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/week']">Расписание на неделю</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/about']">Информация</a>
    </li>
    <li class="nav-item" [hidden]="!auth.isAdmin()">
      <a class="nav-link" [routerLink]="['/admin']">Панель администратора</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/course']">Создать курс</a>
    </li>
  </ul>
  </div>
</nav>

<!-- Page Content -->

<div class="container bd-pageheader">
  <div class="row">
    <!-- Blog Post Content Column -->
    <div class="col-md-8">
      <main>
        <router-outlet></router-outlet>
      </main>
    </div>
    <div class="col-md-4">
      <user></user>
    </div>
  </div>
</div>


<!--<pre class="app-state">this.appState.state = {{ appState.state | json }}</pre>-->
<footer class="bd-footer text-muted">
  <div class="container">
    <span>Атрошкин В.А. гр.107322</span>
  </div>
</footer>
