<div *ngIf="course.id > 0; else courseNotEnable">
  <a class="btn btn-outline-warning mb-2 mr-sm-2 mb-sm-1 pull-right" target="_blank" role="button"
     *ngIf="auth.isModer() || auth.isAdmin()" [href]="'#/edit-course/' + course.id">Edit</a>
  <course-details [course]="course"></course-details>
  <h4></h4>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#aboutCourse" role="tab">About course</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#contentCourse" role="tab">Content</a>
    </li>
  </ul>

  <div class="tab-content container">
    <div class="tab-pane active" id="aboutCourse" role="tabpanel">
      <h5>About course</h5>
      <p>{{course.description}}</p>
      <hr>
      <h5>Authors</h5>
      <div *ngFor="let author of course.owners" class="container">
        <h6>{{author.firstName}} {{author.lastName}}</h6>
        <p>{{author.organisation.name}}</p>
        <p class="text-muted">{{author.info}}</p>
      </div>
    </div>
    <div class="tab-pane" id="contentCourse" role="tabpanel">
      <h5>Course content</h5>
      <div class="container" *ngFor="let unit of units">
        <p>{{unit.serial}} {{unit.name}}</p>
        <div class="container">
          <unit-details [unit]="unit"></unit-details>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #courseNotEnable>
  <h5>
    Not found
  </h5>
</ng-template>
