<!--<div [froalaEditor] [(froalaModel)]="editorContent"></div>-->
<!--<input [ngModel]="editorContent"/>-->
<!--<input [(ngModel)]="editorContent"/>-->
<form [hidden]="course.id > 0" (ngSubmit)="createCourse(); courseForm.reset()" #courseForm="ngForm">
  <h4>Create new course</h4>
  <label for="name">Course name</label>
  <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-1" placeholder="Course name"
         [(ngModel)]="course.name" name="name" id="name" required>
  <label for="description">Course description</label>
  <textarea class="form-control mb-2 mr-sm-2 mb-sm-1" id="description" rows="3"
            [(ngModel)]="course.description" name="description"></textarea>
  <div class="form-check">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input" name="public" [(ngModel)]="course.open">
      Public course
    </label>
  </div>
  <button type="submit" class="btn btn-primary mb-2 mr-sm-2 mb-sm-1" [disabled]="!courseForm.form.valid">Continue</button>
</form>

<form [hidden]="course.id == NaN" (ngSubmit)="createCourse(); unitsForm.reset()" #unitsForm="ngForm">
  <h4>Add units to course {{course.name}}: <span class="badge badge-success" (click)="addUnit()">+</span></h4>
  <div id="accordion" role="tablist" aria-multiselectable="true">
    <div class="card" *ngFor="let unit of course.units">
      <div class="card-header" role="tab" id="headingOne">
        <h5 class="mb-0">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            {{unit.serial}}){{unit.name}}
          </a>
        </h5>
      </div>

      <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
        <div class="card-block">
          {{unit.description}}
        </div>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary mb-2 mr-sm-2 mb-sm-1" [disabled]="!unitsForm.form.valid">Continue</button>
</form>
