<form (ngSubmit)="createCourse(); courseForm.reset()" #courseForm="ngForm">
  <h4>Create new course</h4>
  <label for="name">Course name</label>
  <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-1" placeholder="Course name"
         [(ngModel)]="course.name" name="name" id="name" required>
  <label for="description">Course description</label>
  <textarea class="form-control mb-2 mr-sm-2 mb-sm-1" id="description" rows="3"
            [(ngModel)]="course.description" name="description"></textarea>
  <div class="form-check">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input" name="public" [(ngModel)]="course.open">
      Public course
    </label>
  </div>
  <button type="submit" class="btn btn-primary mb-2 mr-sm-2 mb-sm-1" [disabled]="!courseForm.form.valid">Continue <i
    class="fa fa-arrow-right" aria-hidden="true"></i></button>
</form>

